@use "../../styles/variables.scss" as vars;
.wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.userBlock {
    padding: 15px;
    background-color: #DEE2E6;
    color: vars.$text_color_dark;
    border-radius: 5px;
    transition: 0.3s;

    &:hover {
        background-color: #ADB5BD;
    }
}
.tabs{
    display: flex;
    justify-content: space-between;
}
.tab{
    padding: 10px;
    background: none;

    &:hover {
        background-color: vars.$hover_color;
    }
}