@use "../../styles/variables.scss" as vars;

.wrapper { 
    height: 100dvh;
}

.header {
    height: 100px;
    background: vars.$dark_gradient;
    padding: 0 70px;
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 30px;
}

.menuItem {
    text-decoration: none;
    color: #EEEEEE;

    &:hover {
        color: #eeeeeea6;
    }
}