@use "../styles/variables.scss" as vars;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
}
body{
    background-color: #F8F9FA;
}

.field {
    font-size: 1rem;
    padding: 20px 10px;
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background: vars.$field_color;
    outline: none;
    color: #495057;

    &::placeholder {
        color: #6C757D;
    }
}

.button{
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    padding: 8px 50px;
    background-color: vars.$btn_color;
    color: vars.$text_color;
    transition: 0.2s;

    &:hover {
        background-color: vars.$hover_color;
    }
}