$dark_gradient: linear-gradient(90deg, rgba(33,37,41,1) 0%, rgba(73,80,87,1) 25%, rgba(73,80,87,1) 75%, rgba(33,37,41,1) 100%);
$light_gradient: linear-gradient(90deg, rgba(206,212,218,1) 0%, rgba(173,181,189,1) 25%, rgba(108,117,125,1) 100%);
$field_color: #CED4DA;
$btn_color:#6C757D;
$text_color:#E9ECEF;
$text_color_dark: #343A40;
$hover_color:#6c757d9d;
$gold_color:#c9a068;